.react-calendar-heatmap .color-empty {
    fill: #ebdfd7;
}

.react-calendar-heatmap .color-level-1 {
    fill: #d1fae5;
}

.react-calendar-heatmap .color-level-2 {
    fill: #a7f3d0;
}

.react-calendar-heatmap .color-level-3 {
    fill: #6ee7b7;
}

.react-calendar-heatmap .color-level-4 {
    fill: #059669;
}
.react-calendar-heatmap rect:hover {
    stroke: transparent;
    outline: none;
}

.react-calendar-heatmap {
    width: max-content;
    min-width: 720px;
}

.react-calendar-heatmap text {
    font-size: 10px;
}

.react-calendar-heatmap rect {
    rx: 2;
    ry: 2;
}
